@using Velstand.Helpers
@using Velstand.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
    var search = new SearchEngineModel(current.VHolder(), null, 6);
}
@section VelstandHead
{
}
@section VelstandLanding
{
    @CurrentPage.GetGridHtml("grid", "velstandgrid")
}
@section VelstandBody
{
	@if (!CurrentPage.GetPropertyValue<bool>("hideContents")) {
		<div class="col s12">
			@Html.Partial("VelstandBreadCrumb")
		</div>
		<section class="v-main-content col s12">
			<div class="row">
				@foreach (var post in search.Contents())
				{
					<div class="col s12 m4">
						<div class="v-card card small">
                            <div class="card-image">
                                <a href="@post.Url">
                                    <img src="@post.GetCropUrl("eyecatch", "blogThumbnail" )" class="activator" />
                                </a>
                            </div>
							<div class="card-content match-height">
                                <h2 class="card-title activator black-text v-post-title text-with-light"><a href="@post.Url">@Umbraco.Field(post, "title")</a></h2>
                            </div>
						</div>
					</div>
				}
			</div>

			<a class="v-link-button" href="@current.VHolder().Url">
				<span class="mdi-navigation-check blue btn col s12 text-center"> @Umbraco.GetDictionaryValue("ToppageMoreButton")</span>
			</a>
		</section>
	}
}