@using Velstand.Helpers
@using Velstand.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
    var search = new SearchEngineModel(current, Request);
}
@section VelstandHead
{
}

@section VelstandBody
{
    <div class="col s12">
		@Html.Partial("VelstandBreadCrumb")
	</div>
    <section class="MainContent col s12 m8">
        @foreach (var post in search.Contents())
        {
            <article class="collection">
                <div class="col s3 pull-left">
                    <p class="Post-Eyecatch">
                        <a href="@post.Url">@Html.Crop(post, "eyecatch", "blogEyecatch")</a>
                    </p>
                </div>
                <div class="Description col s9">
                    <h2><a href="@post.Url" class="Text-Light">@Umbraco.Field(post, "title")</a></h2>
                    <hr />
                    <p class="Post-Data">
                        <span class="mdi-notification-event-note"> @string.Format(Umbraco.GetDictionaryValue("DateFormat"), post.GetPropertyValue<DateTime>("releaseDate"))</span>
                        &nbsp;&nbsp;
                        <span class="mdi-action-label"> @Html.CategoryWithLink(post, "category")</span>
                    </p>
                    <a class="Link-Btn" href="@post.Url">
                        <span class="glyphicon glyphicon-check"></span> @Umbraco.GetDictionaryValue("HolderpageMoreButton")
                    </a>
                </div>
            </article>
        }
        @* Pagination *@
        <ul class="pagination">
            @search.Html.Prev("<i class=\"mdi-navigation-chevron-left\"></i>")
            @search.Html.Pagination()
            @search.Html.Next("<i class=\"mdi-navigation-chevron-right\"></i>")
        </ul>
    </section>
    <section class="SubContent col s12 m4">
        @Html.Partial("VelstandSidebar")
    </section>
}