@using Velstand.Helpers
@using Velstand.Models
@using Velstand.Utilities
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
}
@section VelstandHead
{
}
@section VelstandLanding
{
}
@section VelstandBody
{
    <div class="col s12">
		@Html.Partial("VelstandBreadCrumb")
	</div>
		
    <article class="v-single-post v-post">
        <div class="v-post-body">
            @CurrentPage.GetGridHtml("grid", "velstandgrid")
        </div>
        @* disqus *@
		@Html.Partial("VelstandDisqus")

        <span class="v-post-title">@Umbraco.Field("title")</span>&nbsp;&nbsp;
		<span class="v-post-date mdi-notification-event-note"> @Html.DictionalyDateFormat(current, "releaseDate")</span>&nbsp;&nbsp;
		<span class="v-post-category mdi-action-label">@Html.CategoryWithLink(current, "category")</span>
    </article>

    @* Google Adsense x 2 *@
	<div class="row">
		<div class="col s12 m6 left-align">
        	@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
		</div>
		<div class="col s12 m6 right-align">
        	@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
		</div>
	</div>
}