@using Velstand.Helpers
@using Velstand.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
    var search = new SearchEngineModel(current, null, 6);
}
@section VelstandHead
{
}
@section VelstandLanding
{
    @CurrentPage.GetGridHtml("grid", "velstandgrid")
}
@section VelstandBody
{

    <section class="MainContent col s12">
        <div class="row">
            @foreach (var post in search.Contents())
            {
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-content">
                            <a href="@post.Url">
                                <img src="@post.GetCropUrl("eyecatch", "blogThumbnail")" class="activator" />
                                <h2 class="card-title activator black-text Text-Light">@Umbraco.Field(post, "title")</h2>
                            </a>
                        </div>
                        <div class="card-action">
                            <a href="@post.Url">@Umbraco.GetDictionaryValue("ToppageMoreButton")</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <a class="Link-Btn" href="@current.VPageUrl(2, Request)">
            <span class="mdi-navigation-check blue btn col s12 text-center"> @Umbraco.GetDictionaryValue("ToppageMoreButton")</span>
        </a>
    </section>






    @*
        <ul class="pagination">
            @search.Html.Prev("<i class=\"mdi-navigation-chevron-left\"></i>")
            @search.Html.Pagination()
            @search.Html.Next("<i class=\"mdi-navigation-chevron-right\"></i>")
        </ul>*@
}
