@using Velstand.Helpers
@using Velstand.Models
@using Velstand.Utilities
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
    var paginator = new PaginationModel(current);
}
@section VelstandHead
{
}
@section VelstandBody
{
    <section class="MainContent col s12 m8">
        <article class="Single-Post Post">
            <div class="collection">
                <div class="collection-item">
                    <h1 class="Post-Title">@Umbraco.Field("title")</h1>
                    <span class="Post-Date mdi-notification-event-note"> @Html.DictionalyDateFormat(current, "releaseDate")</span>&nbsp;&nbsp;
                    <span class="Post-Category mdi-action-label">@Html.CategoryWithLink(current, "category")</span>
                </div>
                @Html.Crop(current, "eyecatch", "blogContentHead")
                <div class="collection-item">
                    <div class="Post-Body">
                        @* Google Adsense *@
                        @Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")

                        @current.VMarkUp("body").ToLazyLoad()
                    </div>
                    @* disqus *@
                    @Html.Partial("VelstandDisqus")
                </div>

                <div class="panel-footer">
                </div>

            </div>
        </article>

        @* Google Adsense *@
        @Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
        @* Related Posts *@
        @Html.Partial("VelstandRelatedPosts")
        @* Prev Next *@
        <span class="col s12">@paginator.Html.Next(Umbraco.GetDictionaryValue("ContentpageNextButton"))</span>
        <span class="col s12">@paginator.Html.Previous(Umbraco.GetDictionaryValue("ContentpagePreviousButton"))</span>
    </section>
    <section class="SubContent col s12 m4">
        @Html.Partial("VelstandSidebar")
    </section>

}