@using Velstand.Helpers
@using Velstand.Models
@using Velstand.Utilities
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
}
@section VelstandHead
{
}
@section VelstandBody
{
    <div class="col s12">
		@Html.Partial("VelstandBreadCrumb")
	</div>
    <section class="SubContent col s12 m3">
        <ul class="section table-of-contents">
            @foreach (var nav in current.VHolder().Children())
            {
                <li><a href="@nav.Url" class="grey-text">@Umbraco.Field(nav, "title")</a></li>
            }
        </ul>
        @Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
    </section>



    <section class="MainContent col s12 m9">
        <article class="Single-Post Post collection">
            <div class="collection-item">
                <h1 class="Post-Title">@Umbraco.Field("title")</h1>
                <span class="Post-Date mdi-notification-event-note"> @Html.DictionalyDateFormat(current, "releaseDate")</span>&nbsp;&nbsp;
                <span class="Post-Category mdi-action-label">@Html.CategoryWithLink(current, "category")</span>
            </div>
            @Html.Crop(current, "eyecatch", "blogContentHead")
            <div class="collection-item">
                <div class="Post-Body">
                    @* Google Adsense *@
                    @Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")

                    @current.VMarkUp("body").ToLazyLoad()
                </div>
                @* disqus *@
                @Html.Partial("VelstandDisqus")
            </div>

        </article>

        @* Google Adsense *@
        @Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
    </section>
}