@using Velstand.Models
@using Velstand.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandMaster.cshtml";
    IPublishedContent current = CurrentPage;
    var setting = current.VRoot().Descendant("VelstandPrivateSettings");
}
@section VelstandHead
{
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    @* LEGACY IE *@
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @* StyleSheet *@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/css/style.css" rel="stylesheet" />
    @if (Request.Browser.IsMobileDevice)
    {
        <link href="~/css/style_mobile.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/style_pc.css" rel="stylesheet" />
    }
    @* highlight style *@
    <link href="~/css/github.css" rel="stylesheet" />
    @* social button style *@
    <link href="~/css/rrssb.css" rel="stylesheet" />    

    @* Jquery *@
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
	@*<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>*@
    @* Bootstrap *@
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="~/scripts/rrssb.min.js"></script>
    @RenderSection("VelstandHead")
}

@section VelstandBody
{
    @* navbar *@
    <div class="Navbar-Design navbar-fixed" role="navigation">
        <nav class="white">
            <div class="nav-wrapper container">
                <a href="@current.VRoot().Url" class="brand-logo"><span class="Text-Shadow">@Umbraco.Field(setting, "siteTitle")</span></a>
                <ul class="right hide-on-med-and-down">
                    @foreach (var nav in setting.VMultiNodes("navigations"))
                    {
                        <li><a href="@nav.Url" class="grey-text">@Umbraco.Field(nav, "title")</a></li>
                    }
                </ul>
				<a class="nav-button-collapse black-text hide-on-large-only" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
                <ul id="nav-mobile" class="side-nav hide-on-large-only">
                    @foreach (var nav in setting.VMultiNodes("navigations"))
                    {
                        <li><a href="@nav.Url" class="grey-text">@Umbraco.Field(nav, "title")</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>

    @* grid *@
    <div class="panel-landing">
        <section class="LandingContent">
            @RenderSection("VelstandLanding", false)
        </section>
    </div>

    <div id="wrap" class="container">
        <div class="row panel-body">
            @RenderSection("VelstandBody")
        </div>
        <div id="push"></div>
    </div>
    <footer class="page-footer blue-grey darken-1">
        <div class="">
            <div class="row">
                <section class="col s12 col m4">
                    @Html.Raw(umbraco.library.RenderMacroContent(setting.GetPropertyValue<string>("footerMacro1"), CurrentPage.Id))
                </section>
                <section class="col s12 col m4">
                    @Html.Raw(umbraco.library.RenderMacroContent(setting.GetPropertyValue<string>("footerMacro2"), CurrentPage.Id))
                </section>
                <section class="col s12 col m4">
                    @Html.Raw(umbraco.library.RenderMacroContent(setting.GetPropertyValue<string>("footerMacro3"), CurrentPage.Id))
                </section>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 white-text">
                    <h2><small>@Umbraco.Field(setting, "siteTitle") - @Umbraco.Field("title")</small></h2>
                    <p>@Umbraco.Field(setting, "siteDescription")</p><br />
                </div>
            </div>
        </div>
        <div class="footer-copyright white-text">
            <div class="container">
                Powered by <a href="http://velstand.info/" title="OurVelstand" class="yellow-text">Velstand</a> (<a href="http://umbraco.com/" title=" velstand" class="yellow-text">Umbraco CMS</a>)
            </div>
        </div>
    </footer>
    @Html.Partial("VelstandFixedToolbar")
    @* Script *@
    @*Html.CachedPartial("VelstandBaseScript", null, 86400)*@
    @Html.Partial("VelstandBaseScript")
    <script src="~/scripts/script.js"></script>

}