@using Velstand.Constants
@using Velstand.Helpers
@using Velstand.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
}

<ul class="breadcrumb collection">
    <li class="collection-item">
        @foreach (var content in CurrentPage.VBreadCrumbs())
        {
            <span class="v-breadcrumb-item mdi-navigation-chevron-right"><a href="@content.Url">@Umbraco.Field(content, "title", altText: content.Name)</a></span>
        }
        <span class="v-breadcrumb-item active mdi-navigation-chevron-right">@Umbraco.Field("title", altText: CurrentPage.Name)</span>

        @* Request Category *@
        @if (!string.IsNullOrWhiteSpace(Request.QueryString[VelstandRequest.Category]))
        {
            var cat = Umbraco.TypedContent(Request.QueryString[VelstandRequest.Category]);
            <span class="v-breadcrumb-item v-breadcrumb-caategory mdi-navigation-chevron-right">&nbsp;[ @(cat.Name)@Umbraco.GetDictionaryValue("BreadCrumbCategory") ]</span>
        }

        @* Request Date *@
        @if (!string.IsNullOrWhiteSpace(Request.QueryString[VelstandRequest.Date]))
        {
            <span class="v-breadcrumb-item v-breadcrumb-date mdi-navigation-chevron-right">&nbsp;[ @Html.BreadCrumbDateFormat(Request.QueryString[VelstandRequest.Date]) ]</span>
        }

        @* Request Text *@
        @if (!string.IsNullOrWhiteSpace(Request.QueryString[VelstandRequest.Text]))
        {
            <span class="v-breadcrumb-item v-breadcrumb-text mdi-navigation-chevron-right">&nbsp;[ @Umbraco.GetDictionaryValue("BreadCrumbText") @Request.QueryString[VelstandRequest.Text] ]</span>
        }
    </li>
</ul>
